# ── Vagrant ────────────────────────────────────────────────────────────────────
.vagrant/

# ── Ansible ────────────────────────────────────────────────────────────────────
*.retry
infrastructure/.cache/
infrastructure/.facts/

# ── JetBrains IDEs ─────────────────────────────────────────────────────────────
.idea/

# ── Python ─────────────────────────────────────────────────────────────────────
__pycache__/
*.pyc
*.pyo
.python-version

# ── OS ─────────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ── Logs ───────────────────────────────────────────────────────────────────────
*.log
